html, body {
    background-color: black;
}

.container {
    display: inline-block;
    font-family: 'Hind Siliguri', sans-serif;
}

.header i {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.user {
    margin-top: -45px;
    margin-left: 45px;
}

#dots {
    float: right;
    margin-right: -290px;
    margin-top: -60px;
}

.header {
    height: 70px;
    display: inline-block;
}
.post {
    background: white;
    width: 400px;
    height: 600px;
}

.img img {
    width: 400px;
    height: 300px;
}

.accions i {
    font-size: 25px;
    margin-left: 10px;
}

#bookmark {
    float: right;
    margin-right: 10px;
}

.title {
    margin-top: 10px;
    margin-left: 5px
}

.text {
    margin-top: 10px;
    margin-left: 5px;
}